<p id="notice"><%= notice %></p>

<p>
  <strong>Challenger:</strong>
  <%= @challenge.challenger_id %>
</p>

<p>
  <strong>Challenged:</strong>
  <%= @challenge.challenged_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @challenge.value %>
</p>

<p>
  <strong>State:</strong>
  <%= @challenge.state_id %>
</p>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>
