<!DOCTYPE html>
<html>
<head>
  <title>ChallengeAccepted</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="ink-navigation">
    <ul class="menu horizontal black">
        <li><%= link_to 'My Challenges', challenges_my_challenges_path %></li>
        <li><%= link_to 'Proposed Challenges', challenges_proposed_challenges_path %></li>
        <li><%= link_to 'Other Challenges', challenges_other_challenges_path %></li>
        <li><%= link_to 'New Challenge', new_challenge_path, :class => 'ink-button button-toolbar blue' %></li>
    </ul>
</nav>
<%= yield %>

</body>
</html>
